* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
      background-color: #ffffff;
      color: #000000;
    }
    .header {
      height: 60px;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: space-between; 
      padding: 40px;
      border-bottom: 1px solid #E1E1E1;
      position: relative;
    }

    .logo img {
      width: 60px;
      display: block;
    }

    .navbar {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .nav, .header-2 {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #27251F;
      font-weight: 500;
      font-size: 14px;
    }

    .signin {
      border: 1px solid #00704A;
      font-weight: 600;
      transition: all 0.2s ease;
      color: #00704A;
      font-size: 14px;
      padding: 15px;
    }

    .signin:hover {
      background-color: #D4E9E2;
    }

    .joinnow {
      background-color: #00704A;
      color: white;
      font-weight: 600;
      transition: all 0.2s ease;
      font-size: 14px;
      padding: 15px;
    }

    .joinnow:hover {
      background-color: #005837;
    }

    .header-2 i {
      margin-right: 6px;
      color: #00704A;
    }
    .hamburger {
      display: none;
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    .btn-container {
      display: flex;
      justify-content: center;

    }

    .btn {
      border: none;
      background-color: #00704A;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;
      font-size: 16px;
      width: 100%;
      height: 60px;
    }

    .btn:hover {
      background-color: #005837;
    }
    .section1 {
      display: flex;
      align-items: center;
      text-align: center;
      background-color: #ffffff;
      color: #333;
      padding: 20px;
    }

    .section1 .img {
      width: 50%;
    }

    .text {
      width: 50%;
      gap: 20px;
      text-align: left;
      padding: 0px 20px;
    }

    .text h2 {
      color: #00704A;
    }

    .menu {
      display: inline-block;
      padding-top: 10px;
      font-weight: 600;
      color: #00704A;
      text-decoration: none;
      cursor: pointer; 
    }
    .menu:hover{
        color: black;
        transition: 0.5s ease-in-out;
    }
    .text-2{
      text-align: center;
      width: 50%;
      align-items: center;
    }
    .footer{
      height: 40vh;
      border: 1px solid rgb(193, 192, 192);
      padding: 10px;
    }
    .social-media{
      display: flex;
      width: 100px;
      padding: 20px;
    
    }
    .social i {
    font-size: 32px;  
    color: #00704A;   
    transition: 0.3s;
    padding: 10px;
}

    .social i:hover {
   color: #000;  
}
.contact{
  padding: 20px;
}
  .sj{
  display: flex;
  padding: 10px;
  gap: 20px;
}
.women{
  width: 100%;
  align-items: center;
}
    /* Responsive */
    @media screen and (max-width: 768px) {
      .hamburger {
        display: block;
      }

      .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 60px;
        position: absolute;
        top: 80px; 
        left: 100px;
        background-color: #fbfbfb;
      }

      .navbar.active {
        display: flex;
      }

      .nav{
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 10px;
      }
      .nav li{
        top: 200px;
        width: 100%;
        padding: 15px;

      }
      .nav li:hover{
          background-color:#00704A ;
          padding: 15px;
          transition: 0.5s;
      }
      .section1 {
        flex-direction: column;
      }
      .header-2{
        padding: 20px;
      }

      .section1 .img {
        order: 1;   
        width: 100%;
      }
      .text {
        order: 2;  
        width: 100%;
        padding: 10px 5px;
        text-align: center;
      }
    }
   